$color-white: #ffffff;
$color-grey: #fbfbfc;
$color-dark-blue: #1c3480;
$color-darken-blue: #1639aa;
$color-blue: #003cff;
$color-light-blue: #447efc;
$color-text-light: #8490b0;
$color-text-white: #ebf1ff;
